[submodule "dependencies/HISSTools_Library"]
	path = dependencies/HISSTools_Library
	url = https://github.com/AlexHarker/HISSTools_Library
[submodule "dependencies/iPlug2"]
	path = dependencies/iPlug2
	url = https://github.com/iPlug2/iPlug2
[submodule "dependencies/flucoma-core"]
	path = dependencies/flucoma-core
	url = git@github.com:flucoma/flucoma-core
